{
  "extends": "./node_modules/@dolittle/build/.babelrc",
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "node": "current",
        }
       }
    ]
  ]
}